{% extends 'base.html.twig' %}

{% block title %}Mes commandes - Cocorico{% endblock %}

{% block content %}

    
    
    <h1>Ma commande {{ order.reference }}</h1>
    <a href="{{path('account')}}">Retour</a><br/>
    <hr>
    

    <strong>Statut de la commande :</strong> 
        {% if order.status == 1 %}
            Paiement accepté
        {% elseif order.status == 2  %}
            Préparation en cours
        {% elseif order.status == 3 %}
            Livraison en cours
        {% endif %}
    <br/>
    <strong>Commande passée le :</strong> {{ order.createdAt|date('d/m/Y')}}<br/>
    <strong>Référence de ma commande :</strong> {{ order.reference}}<br/>
    <strong>Transporteur choisi :</strong> {{ order.carrierName}}<br/>
    <hr>
    <strong>Détails de ma commande</strong><br/>

        <table class="table mt-4">
            <thead>
            <tr>
              <th scope="col">Produit</th>
              <th scope="col">Quantité</th>
              <th scope="col">Prix unitaire</th>
              <th scope="col">Total</th>
            </tr>
            </thead>
            <tbody>
                {% for product in order.orderDetails %}
                    <tr>
                        <td>{{ product.product }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{(( product.price)/100)|number_format(2, ',','' ) }} €</td>
                        <td>{{(( product.total)/100)|number_format(2, ',','' ) }} €</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <div class="text-right">
        <strong>Sous-Total :</strong> {{(( order.getTotal)/100)|number_format(2, ',','' ) }} €<br/>
        <strong>Livraison :</strong> {{(( order.carrierPrice)/100)|number_format(2, ',','' ) }} €<br/>
        <strong>Total :</strong> {{(( order.carrierPrice + order.getTotal)/100)|number_format(2, ',','' ) }} €
    </div>
    
   
{% endblock %}
