{% extends 'base.html.twig' %}

{% block title %}Mes commandes - Cocorico{% endblock %}

{% block content %}

    
    <a href="{{path('account_add_address')}}" class="btn btn-info btn-sm float-right">Ajouter une adresse</a>
    <h1>Mes commandes</h1>
    Dans cet espace vous pouvez gérer vos adresses</br>

    <a href="{{path('account')}}">Retour</a><br/>

  
    {% if orders|length == 0 %}
        <p class="text-center">
            Vous n'avez pas encore passé de commande sur Cocorico.</br>
        </p>
    {% else %}
       
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Référence</th>
                <th scope="col">Status</th>
                <th scope="col">Passée le</th>
                <th scope="col">Produit(s)</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td><span class="badge badge-secondary">{{ order.reference }}</span></td>
                        <td>
                            {% if order.status == 1 %}
                                Paiement accepté
                            {% elseif order.status == 2  %}
                                Préparation en cours
                            {% elseif order.status == 3 %}
                                Livraison en cours
                            {% endif %}
                        </td>
                        <td>{{ order.createdAt|date('d/m/Y') }}</td>
                        <td>{{ order.orderDetails|length }}</td>
                        <td>{{ ((order.carrierPrice + order.getTotal)/100)|number_format(2, ',','.' ) }} €</td>
                        <td class="text-right"><a href="{{ path('account_order_details', { 'reference' : order. reference }) }}">Voir ma commande</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    {% endif %}
    
   
{% endblock %}
